.background {
  background-color: #ffffff;
  /* background-image: linear-gradient(45deg,  #a1f4fa 0%, #ffffff 70%); */
  
}

.bothLandings {
  display: flex;
  flex-direction: row;
}

.landingContainer {
  width: 280px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-color: gray;
  border-style: solid;
  border-width: 1px;
  box-shadow: 5px 3px 5px rgb(202, 202, 202);
  border-radius: 25px;
  padding: 40px;
  margin: 100px auto;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.containerContent {
  font-size: 30px;
  text-align: center;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.LoginText {
  font-size: 25px;
  background-color: rgb(255, 255, 255);
  border-color: lightgray;
  border-style: solid;
  border-width: 1px;
  box-shadow: 5px 3px 5px rgb(202, 202, 202);
  border-radius: 25px;
  padding: 25px;
  margin-top: 40px;
  transition-duration: 0.4s;
  font-family: Arial, Helvetica, sans-serif;
  width: 70px;
  text-align: center;
  border-radius: 25px;
}
.LoginText:hover{
  cursor: pointer;
  background-color: #0d80e4;
  color: white;
}

a {
  color: black;
  text-decoration: none; /* no underline */
}

.loginButtons {
  font-size: 25px;
  background-color: rgb(255, 255, 255);
  border-color: lightgray;
  border-style: solid;
  border-width: 1px;
  box-shadow: 5px 3px 5px rgb(202, 202, 202);
  border-radius: 25px;
  padding: 25px;
  margin-top: 40px;
  transition-duration: 0.4s;
  font-family: Arial, Helvetica, sans-serif;
  width: 70px;
  text-align: center;
  border-radius: 25px;

}

.loginButtons:hover {
  cursor: pointer;
  background-color: #0d80e4;
  color: white;
}

