.restaurantImage {
    height: 200px;
}

.restaurantInfoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5%;
    min-width: 20%;
    padding: 10px;
    border-radius: 25px;
    margin-right: 20%;
    margin-left: 20%;
    border: 1px solid #797979;
    background-color: #ffffff;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.35);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.restaurantImage {
    padding: 10px;
}

.editableMenu {
    border: 1px solid #797979;
    box-shadow: 5px 5px 5px 0px rgb(0 0 0 / 35%);
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 1%;
    border-radius: 25px;
    padding: 10px 10px 10px 10px;
}